*
{
font-size: 20px;
}
body
{
background-image: url(https://www.greaternoidaauthority.in/files/assets/gbu.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
height: auto;
max-width: 100%;
background-size: cover;
box-sizing: border-box;
}
.container
{
	background-color: white;
	margin-top:70px;
	position: relative;
}
input
{
	display: block;
	margin-bottom: 19px;
	border-radius: 8%;
}
label
{
	width: auto;
	margin-right: 10px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
